.modal{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;

}
