* {
     margin: 0;
     padding: 0;
     font-family:'popins', sans-serif;
     box-sizing: border-box;
}

body{
    background: 3eef8ff;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
footer .col h4{
    color: red;

}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
} 
.col{
    flex-basis: 25%;
    padding: 10px; 
}

.logo{
    width: 80pix;
    margin-bottom: 30px;
}
.col h3{
   margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}    