* {
    box-sizing: border-box;
}
/* CSS property for header section */
.header {
    background-color: rgb(127, 115, 0);
    padding: 15px;
    text-align: center;
}
.header img{
    height: 130px;
    width: 100px;
}
/* CSS property for navigation menu */
.nav_menu {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.767);
}
.nav_menu a {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_menu a:hover {
    background-color: #FFD700;
}
/* CSS property for content section */
.columnA, .columnB, .columnC {
    width: calc(100% / 3);
    padding: 15px;
    text-align:justify;
}

.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{ 
    display: flex;  
    flex-direction: column;
    width: 50%;
}

h2 {
    color:rgb(128, 0, 38);
    text-align:center;
}
/* Media query to set website layout
according to screen size */
@media screen and (max-width:600px) {
    .columnA, .columnB, .columnC {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .columnA, .columnB, .columnC {
        width: 100%;
    }
}
footer{
    display: flex;
    background-color: #FFD700;
    padding-left: 32px;
    padding-top: 32px;
}